<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="en">
<head>
    <!--    <title th:text="${title} + ' engine'"/>-->
    <title>Add order</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container pt-5 mt-5">
    <h2>Add order</h2>
    <form th:action="@{/orders/add}" th:object="${order}" th:method="post">

        <div class="form-group">
            <div class="col">
                <input type="text" hidden class="form-control-plaintext" id="orderUser" th:name="user"
                       th:value="${user.id}">
            </div>
        </div>

        <div class="form-group">
            <td th:text="'User: ' + ${user.firstName} + ' ' +  ${user.lastName}
            + ' ' + ${user.email}"></td>
        </div>

        <div class="form-group">
            <!--            <input type="text" readonly class="form-control-plaintext" th:field="*{car.id}" th:value="*{carOrder.id}">-->
        </div>

        <div class="form-group">
            <td th:text="'Car: ' + ${car.model.brand.name} + ' ' + ${car.model.name}
         + ' ' + ${car.year}"></td>
        </div>

        <div class="form-group">
            <input type="text" hidden class="form-control-plaintext" th:field="*{car}">
        </div>

        <div class="form-group row">
            <label for="inputPrice" class="col-sm-2 col-form-label">Price per day</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="inputPrice" th:field="*{price}" readonly>
            </div>
        </div>

        <div class="form-group row">

            <div class="form-group col-sm-4">
                <label for="RentBegin">Rent begin</label>
                <input class="form-control" id="RentBegin" type="datetime-local" th:field="*{rentBegin}">
            </div>

            <div class="form-group col-sm-4">
                <label for="RentEnd">Rent end</label>
                <input class="form-control" id="RentEnd" type="datetime-local" th:field="*{rentEnd}">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputPrice" class="col-sm-2 col-form-label">Total</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="inputPrice" th:field="*{total}" readonly>
            </div>
        </div>

        <button type="submit" class="btn btn-outline-primary">Add order</button>
    </form>

</div>
<!--empty space for more representable view-->
<div class="col-xs-12" style="height:250px;"></div>
<div th:insert="blocks/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>