<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="en">
<head>
    <!--    <title th:text="${title} + ' engine'"/>-->
    <title>Edit order</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container pt-5 mt-5">
    <h2>Edit order</h2>
    <form th:object="${order}" th:method="post">

        <div class="form-group">
            <input type="text" hidden class="form-control-plaintext" th:field="*{id}">
        </div>

        <div class="form-group">
            <td th:text="'Id: ' + ${order.id} + ' Creating date: ' +
             ${#temporals.format(order.creatingDate, 'dd-MM-yyyy HH:mm')}"></td>
        </div>

        <div th:if="${order.updatingDate  != null}" class="form-group">
            <td th:text="'Updating date: ' + ${#temporals.format(order.updatingDate, 'dd-MM-yyyy HH:mm')}"></td>
        </div>

        <div class="form-group">
            <div class="col">
                <input type="text" hidden class="form-control-plaintext" th:name="user"
                       th:value="${order.user.id}">
            </div>
        </div>

        <div class="form-group">
            <div class="col">
                <input type="text" hidden class="form-control-plaintext" th:name="car.id"
                       th:value="${order.car.id}">
            </div>
        </div>

        <div class="form-group">
            <input type="text" hidden class="form-control-plaintext" th:name="car.model.brand.name"
                   th:value="${order.car.model.brand.name}">
            <input type="text" hidden class="form-control-plaintext" th:name="car.model.name"
                   th:value="${order.car.model.name}">
            <input type="text" hidden class="form-control-plaintext" th:name="car.year"
                   th:value="${order.car.year}">
            <td th:text="'Car: ' + ${order.car.model.brand.name} + ' ' + ${order.car.model.name}
         + ' ' + ${order.car.year}"></td>
        </div>

        <div class="form-group row">
            <label for="inputPrice" class="col-sm-2 col-form-label">Price per day</label>
            <div class="col-sm-2">
                <input type="text" hidden class="form-control-plaintext" th:name="car.price"
                       th:value="${order.car.price}">
                <input type="text" class="form-control" th:name="price" th:value="${order.car.price}" id="inputPrice"
                       readonly>
            </div>
        </div>

        <div class="form-group row">
            <div class="form-group col-sm-4">
                <label for="rentBegin">Rent begin</label>
                <input readonly class="form-control" id="rentBegin" name="rBegin"
                       th:value="${#temporals.format(order.rentBegin, 'dd-MM-yyyy HH:mm')}">
            </div>

            <div class="form-group col-sm-4">
                <label for="rentEnd">Rent end</label>
                <input readonly class="form-control" id="rentEnd" name="rEnd"
                       th:value="${#temporals.format(order.rentEnd, 'dd-MM-yyyy HH:mm')}">
            </div>
        </div>

        <div class="form-group row">
            <div class="form-group col-sm-4">
                <label for="total">Total</label>
                <input type="text" hidden class="form-control-plaintext" th:name="total"
                       th:value="${order.total}">
                <input type="text" class="form-control" th:name="total" th:value="${order.total}" id="total"
                       readonly>
            </div>
        </div>

        <div th:if="${statuses}" class="form-group row">
            <div class="form-group col-sm-4">
                <label for="selectStatus">Status</label>
                <select th:field="*{status.id}" id="selectStatus" class="form-control" onchange="setMessageView()">
                    <option th:each="status : ${statuses}"
                            th:value="${status.id}"
                            th:utext="${status.name}"/>
                </select>
            </div>

        </div>
        <div th:unless="${statuses}" class="form-group row">
            <div class="form-group col-sm-4">
                <label for="Status">Status</label>
                <input type="text" hidden class="form-control-plaintext" id="selectStatus" th:name="status.id"
                       th:value="${order.status.id}">
                <input type="text" class="form-control" th:name="status" th:value="${order.status.name}" id="Status"
                       readonly>
            </div>
        </div>

        <div th:if="${invoiced}" class="form-group row">
            <div th:if="${mainInvoice}" class="form-group col-sm-2">
                <!--                <form th:action="@{/invoices/{id}(id=${mainInvoice})}" >-->
                <!--                    &lt;!&ndash;                    <input type="hidden" name="carId" th:value="${car.id}"/>&ndash;&gt;-->
                <!--                    <button type="submit" class="btn btn-outline-primary mr-2">Main invoice</button>-->
                <!--                </form>-->
                <a class="btn btn-outline-info" th:href="@{/invoices/{id}(id=${mainInvoice})}"
                   role="button">Main invoice</a>
                <!--                <a th:onclick="'javascript:openInvoiceModal(\'' + ${mainInvoice} +'\');'" class="btn-floating waves-effect waves-light yellow" role="button"><i class="material-icons">visibility</i></a>-->
            </div>

            <div th:if="${extraInvoice}" class="form-group col-sm-2">
                <!--                <form th:action="@{/invoices/{id}(id=${mainInvoice})}" >-->
                <!--                    &lt;!&ndash;                    <input type="hidden" name="carId" th:value="${car.id}"/>&ndash;&gt;-->
                <!--                    <button type="submit" class="btn btn-outline-primary mr-2">Main invoice</button>-->
                <!--                </form>-->
                <a class="btn btn-outline-info" th:href="@{/invoices/{id}(id=${extraInvoice})}"
                   role="button">Extra invoice</a>
                <!--                <a th:onclick="'javascript:openInvoiceModal(\'' + ${mainInvoice} +'\');'" class="btn-floating waves-effect waves-light yellow" role="button"><i class="material-icons">visibility</i></a>-->
            </div>
            <div th:unless="${extraInvoice}" class="form-group col-sm-2">
                <!--                <a class="btn btn-outline-info" th:href="@{/admin/invoices/add/{orderId}(orderId =${order.id})}"-->
                <!--                   role="button" >Add extra invoice</a>-->

                <!--                <input type="text" name="extraMessage" />-->
            </div>
        </div>

        <div hidden class="form-group row" id="extraInvoiceRow">
            <div class="form-group col-sm-4">
                <label for="extraMessage">Extra description</label>
                <input type="text" class="form-control" name="extraMessage" id="extraMessage">
            </div>
            <div class="form-group col-sm-2">
                <label for="extraPrice">Extra price</label>
                <input type="text" class="form-control" name="extraTotal" id="extraPrice">
            </div>
        </div>

        <div th:if="${allowEdit}">
            <div hidden class="form-group row" id="messageRow">
                <div class="form-group col-sm-8">
                    <label for="message">Message</label>
                    <input type="text" class="form-control" th:name="message" th:value="${order.message}" id="message">
                    <span style="font-size: 20; color: #FF1C19;" th:if="${#fields.hasErrors('message')}"
                          th:errors="*{message}"></span>
                </div>
            </div>
        </div>
        <span style="font-size: 20; color: #FF1C19;" th:if="${#fields.hasErrors('status')}"
              th:errors="*{status}"></span>

        <div th:if="${allowEdit}">
            <button type="submit" class="btn btn-outline-primary">Save</button>
        </div>

        <div id="viewUserHolder"></div>
    </form>

</div>

<!--empty space for more representable view-->
<div class="col-xs-12" style="height:250px;"></div>
<div th:insert="blocks/footer :: footer"></div>
<div id="viewUser" class="modal modal-fixed-footer" th:fragment="view">
    <div class="modal-content">
        <h4>View User</h4>

    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-light btn-floating red"><i class="material-icons">close</i>
        </button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<script>
    function setMessageView() {
        var statusId = document.getElementById('selectStatus').value;
        if (statusId == 4) {
            document.getElementById('messageRow').hidden = false;
        } else {
            document.getElementById('messageRow').hidden = true;
        }
        if (statusId == 3) {
            document.getElementById('extraInvoiceRow').hidden = false;
        } else {
            document.getElementById('extraInvoiceRow').hidden = true;
        }
    }

    $(function () {
        setMessageView();
    });

    function openInvoiceModal(id) {
        $.ajax({
            url: "/invoices/" + id,
            success: function (response) {
                $('#viewUserHolder').html(response);
                $('#viewUser').modal();
                $('#viewUser').modal('open');
            }
        });
    }

</script>
</body>
</html>