<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="en">
<head>

    <!--    <title>Update brand</title>-->
    <title th:text="${title} + ' brand'"/>
    <link rel="icon" href="/images/favicon.png" type="image/png" sizes="16x16">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container pt-5 mt-5">
    <h2 th:text="#{label.add} + ' ' + #{label.brand}"></h2>
    <form th:object="${brand}" th:method="post" th:href="@{postURL}">

        <div class="form-group row">
            <div class="form-group col-sm-4">
                <label for="InputName" th:text="#{label.name}">Name</label>
                <input type="text" class="form-control" id="InputName" th:field="*{name}"
                       placeholder="Please, enter name here">
                <span style="font-size: 20; color: #FF1C19;" th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-outline-primary" th:text="#{label.add}">Add</button>
    </form>
</div>
<!--empty space for more representable view-->
<div class="col-xs-12" style="height:300px;"></div>
<div th:insert="blocks/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>