<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/images/favicon.png" type="image/png" sizes="16x16">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container pt-5 mt-5">
    <div class="pp-about container px-0 pp-section">
        <div class="row mb-2">
            <div class="col-md-9">
                <h1 class="h4" th:text="#{label.aboutUs}">Light is beautiful and if you expose for it, it will look awesome</h1>
<!--                <p class="text-muted">Photography is the science, art, application and practice of-->
<!--                    creating durable images by recording light or other electromagnetic radiation,-->
<!--                    either electronically by means of an image sensor, or chemically by means-->
<!--                    of a light-sensitive material such as photographic film.</p>-->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="#{label.aboutUs1}">Low prices</li>
                    <li class="list-group-item"th:text="#{label.aboutUs2}">Comfortable cars</li>
                    <li class="list-group-item" th:text="#{label.aboutUs3}">Quality guarantee</li>
                    <li class="list-group-item" th:text="#{label.aboutUs4}"Round the clock</li>
                </ul>
            </div>
        </div>
        <img class="img-fluid pp-about-img" src="images/about.jpg" alt="About Image">

    </div>
    <div class="pp-section"></div>
</div>

<div th:insert="blocks/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<script src="plugins/google-map/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&amp;callback=initMap"></script>
</body>
</html>