<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit engine</title>
    <link href="css/engine_style.css" rel="stylesheet">
</head>
<body>
<h2>Edit engine </h2>
<!--<form th:action="@{/engines/{id}/edit(id=${engine.id})}" th:object="${engine}" th:method="post">-->
<form th:action="@{/engines}" th:object="${engine}" th:method="post">
    <table>
        <tr>
            <td>Name :</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
</body>
</html>