<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new engine</title>
    <link href="css/engine_style.css" rel="stylesheet">
</head>
<body>
<h2>Add new engine </h2>
<form action="/engines/add" method="post">
    <table>
        <tr>
            <td>Name :</td>
            <td><input name="name" type="text" placeholder="Please, enter name here"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create engine"></td>
        </tr>
    </table>
</form>
</body>
</html>