<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Engines</title>
    <link href="css/engine_style.css" rel="stylesheet">
</head>
<body>
<h2>Engine list</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="engine : ${engines}">
        <tr>
            <td th:text="${engine.id}"></td>
            <td th:text="${engine.name}"></td>
            <td>
                <form th:action="@{/engines/{id}/edit(id=${engine.id})}" method="get">
                    <input type="submit" value="Edit">
                </form>
                <!--                <a th:href="@{/engines/{id}/edit(id=${engine.id})}" class="bottomNav">Edit</a>-->
            </td>
            <td>
                <form th:action="@{/engines/{id}/delete(id=${engine.id})}" method="post">
                    <input type="submit" value="Delete">
                    <input name="id" th:value="${engine.id}" type="hidden">
                </form>
            </td>
        </tr>
    </th:block>
</table>
<br/>
<a href="engines/add">Add engine</a>
</body>
</html>