<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new engine</title>
    <link href="css/engine_style.css" rel="stylesheet">
</head>
<body>
<h2>Add new engine </h2>
<!--<form th:action="@{/engines/add}" th:object="${engine}" th:method="post">-->
<form th:action="@{/engines}" th:object="${engine}" th:method="post">
    <table>
        <tr>
            <td>Name :</td>
            <td><input type="text" th:field="*{name}" placeholder="Please, enter name here"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create engine"></td>
        </tr>
    </table>
</form>
</body>
</html>