<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="en">
<head>
    <title>Car rent in Hrodno</title>
    <!--    <link  th:src="@{/images/favicon.ico}" rel="icon" type="image/x-icon" sizes="16x16">-->
    <link rel="icon" href="/images/favicon.png" type="image/png" sizes="16x16">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="home.css">-->
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .hero-image {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("/images/home.jpg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        .hero-text {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }

        .hero-text button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 10px 25px;
            color: black;
            background-color: #ddd;
            text-align: center;
            cursor: pointer;
        }

        .hero-text button:hover {
            background-color: #555;
            color: white;
        }
    </style>
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<!--<img th:src="@{/images/home.jpg}" class="img-fluid" alt="home">-->
<div class="hero-image">
    <div class="hero-text">
        <h1 style="font-size:50px" th:text="#{label.mainName}">Car rent</h1>
        <p th:text="#{label.town}">Grodno</p>
        <!--        <button th:text="#{label.start}">Hire me</button>-->
        <a class="btn  btn-secondary mr-2" href="#filter" th:text="#{label.start}">Start</a>
    </div>
</div>


<section class="page-section" id="filter">
    <div class="container mt-5">
        <div class="row justify-content-center align-items-center">
            <h2 th:text="#{label.fastSearch}">Find your car</h2>
        </div>
    </div>
    <div class="container">

        <div class="row justify-content-center align-items-center">
            <form>

                <p></p>
                <p></p>
                <div class="form-row align-items-center">
                    <!--                    <div class="form-group col">-->
                    <!--                        <label for="SeatsNum">Seats num.</label>-->
                    <!--                        <select id="SeatsNum" class="form-control">-->
                    <!--                            <option>2</option>-->
                    <!--                            <option>3</option>-->
                    <!--                            <option>4</option>-->
                    <!--                            <option>5</option>-->
                    <!--                        </select>-->
                    <!--                    </div>-->

                    <div class="form-group col">
                        <label for="RentBegin">Rent begin</label>
                        <input class="form-control" id="RentBegin" placeholder="Any" type="date" name="Any">
                    </div>

                    <div class="form-group col">
                        <label for="RentEnd">Rent end</label>
                        <input class="form-control" id="RentEnd" placeholder="Any" type="date" name="Any">
                    </div>
                </div>
                <!--                <div class="form-row align-items-center">-->
                <!--                    <div class="form-group col my-auto">-->
                <!--                        <div class="form-check">-->
                <!--                            <input class="form-check-input" type="checkbox" value="" id="Autotransmission">-->
                <!--                            <label class="form-check-label" for="Autotransmission">-->
                <!--                                Auto transmission-->
                <!--                            </label>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-primary pull-right">Search</button>
                </div>

            </form>
        </div>

        <!--        <div class="container">-->
        <!--&lt;!&ndash;            <div class="row">&ndash;&gt;-->
        <!--                <div class="col-lg-10 col-xl-9 mx-auto">-->
        <!--                    <div class="card card-signin flex-row my-5">-->
        <!--&lt;!&ndash;                        <div class="card-img-left d-none d-md-flex">&ndash;&gt;-->
        <!--&lt;!&ndash;                            &lt;!&ndash; Background image for card set in CSS! &ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;                        </div>&ndash;&gt;-->
        <!--                        <div class="card-body">-->
        <!--                            <h5 class="card-title text-center">Find your car</h5>-->
        <!--                            <form>-->
        <!--                                <div class="form-row align-items-center">-->
        <!--                                    <div class="form-group col">-->
        <!--                                        <label for="Model">Model</label>-->
        <!--                                        <select id="Model" class="form-control">-->
        <!--                                            <option value=""> &#45;&#45;</option>-->
        <!--                                            <option th:each="model : ${models}"-->
        <!--                                                    th:value="${model.id}"-->
        <!--                                                    th:utext="${model.brand.name} + ' ' + ${model.name}"></option>-->
        <!--                                        </select>-->
        <!--                                    </div>-->

        <!--                                    <div class="form-group col">-->
        <!--                                        <label for="Type">Type</label>-->
        <!--                                        <select id="Type" class="form-control">-->
        <!--                                            <option value=""> &#45;&#45;</option>-->
        <!--                                            <option th:each="type : ${types}"-->
        <!--                                                    th:value="${type.id}"-->
        <!--                                                    th:utext="${type.name}"></option>-->
        <!--                                        </select>-->
        <!--                                    </div>-->

        <!--                                    <div class="form-group col">-->
        <!--                                        <label for="Engine">Engine</label>-->
        <!--                                        <select id="Engine" class="form-control">-->
        <!--                                            <option value=""> &#45;&#45;</option>-->
        <!--                                            <option th:each="engine : ${engines}"-->
        <!--                                                    th:value="${engine.id}"-->
        <!--                                                    th:utext="${engine.name}"></option>-->
        <!--                                        </select>-->
        <!--                                    </div>-->
        <!--                                </div>-->

        <!--                                <div class="form-row align-items-center">-->
        <!--                                    <div class="form-group col">-->
        <!--                                        <label for="SeatsNum">Seats num.</label>-->
        <!--                                        <select id="SeatsNum" class="form-control">-->
        <!--                                            <option>2</option>-->
        <!--                                            <option>3</option>-->
        <!--                                            <option>4</option>-->
        <!--                                            <option>5</option>-->
        <!--                                        </select>-->
        <!--                                    </div>-->

        <!--                                    <div class="form-group col">-->
        <!--                                        <label for="RentBegin">Rent begin</label>-->
        <!--                                        <input class="form-control" id="RentBegin" placeholder="Any" type="date" name="Any">-->
        <!--                                    </div>-->

        <!--                                    <div class="form-group col">-->
        <!--                                        <label for="RentEnd">Rent end</label>-->
        <!--                                        <input class="form-control" id="RentEnd" placeholder="Any" type="date" name="Any">-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                                <div class="form-row align-items-center">-->
        <!--                                    <div class="form-group col my-auto">-->
        <!--                                        <div class="form-check">-->
        <!--                                            <input class="form-check-input" type="checkbox" value="" id="Autotransmission">-->
        <!--                                            <label class="form-check-label" for="Autotransmission">-->
        <!--                                                Auto transmission-->
        <!--                                            </label>-->
        <!--                                        </div>-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                                <div class="text-center">-->
        <!--                                    <button type="submit" class="btn btn-outline-primary pull-right">Search</button>-->
        <!--                                </div>-->

        <!--                            </form>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--&lt;!&ndash;            </div>&ndash;&gt;-->
        <!--        </div>-->


    </div>
</section>
<div th:insert="blocks/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<script>
    let anchorlinks = document.querySelectorAll('a[href^="#"]')

    for (let item of anchorlinks) { // relitere
        item.addEventListener('click', (e)=> {
            let hashval = item.getAttribute('href')
            let target = document.querySelector(hashval)
            target.scrollIntoView({
                behavior: 'smooth',
                block: 'start'
            })
            history.pushState(null, null, hashval)
            e.preventDefault()
        })
    }
</script>
</body>
</html>