<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="en">
<head>
    <!--    <title th:text="${title} + ' engine'"/>-->
    <title>Update car</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container pt-5 mt-5">
    <h2>Update car</h2>
    <form th:href="@{/cars/{id}/edit(id=${car.id})}" th:object="${car}" th:method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="text" hidden class="form-control-plaintext" th:field="*{id}">
        </div>

        <div class="form-group">
            <td th:text="'Id: ' + ${car.id}"></td>
        </div>

        <div class="form-group">
            <input type="text" hidden class="form-control-plaintext" th:field="*{creatingDate}">
            <td th:text="'Creating date: ' + ${#temporals.format(car.creatingDate, 'dd-MM-yyyy HH:mm')}"></td>
        </div>

        <div th:if="${car.updatingDate  != null}" class="form-group">
            <input type="text" hidden class="form-control-plaintext" th:field="*{updatingDate}">
            <td th:text="'Updating date: ' + ${#temporals.format(car.updatingDate, 'dd-MM-yyyy HH:mm')}"></td>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="selectModel">Model</label>
                <select th:field="*{model.id}" id="selectModel" class="form-control">
                    <option value=""> --</option>
                    <option th:each="model : ${models}"
                            th:value="${model.id}"
                            th:utext="${model.brand.name} + ' ' + ${model.name}"></option>
                </select>
                <span style="font-size: 20; color: #FF1C19;" th:if="${#fields.hasErrors('model')}"
                      th:errors="*{model}"></span>
            </div>

            <div class="form-group col-md-4">
                <label for="selectType">Type</label>
                <select th:field="*{type.id}" id="selectType" class="form-control">
                    <option value=""> --</option>
                    <option th:each="type : ${types}"
                            th:value="${type.id}"
                            th:utext="${type.name}"></option>
                </select>
                <span style="font-size: 20; color: #FF1C19;" th:if="${#fields.hasErrors('type')}"
                      th:errors="*{type}"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="selectEngine">Engine</label>
                <select th:field="*{engine.id}" id="selectEngine" class="form-control">
                    <option value=""> --</option>
                    <option th:each="engine : ${engines}"
                            th:value="${engine.id}"
                            th:utext="${engine.name}"></option>
                </select>
                <span style="font-size: 20; color: #FF1C19;" th:if="${#fields.hasErrors('engine')}"
                      th:errors="*{engine}"></span>
            </div>

            <div class="form-group col-md-4">
                <label for="inputVolume">Volume</label>
                <input type="text" class="form-control" id="inputVolume" th:field="*{engineVolume}"
                       placeholder="Please, enter volume here">
                <span style="font-size: 20; color: #FF1C19;" th:if="${#fields.hasErrors('engineVolume')}"
                      th:errors="*{engineVolume}"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputYear">Year</label>
                <input type="text" class="form-control" id="inputYear" placeholder="Please, enter year here"
                       th:field="*{year}">
                <span style="font-size: 20; color: #FF1C19;" th:if="${#fields.hasErrors('year')}"
                      th:errors="*{year}"></span>
            </div>

            <div class="form-group col-md-4">
                <label for="inputVIN">VIN</label>
                <input type="text" class="form-control" id="inputVIN" placeholder="Please, enter VIN here"
                       th:field="*{vin}">
                <span style="font-size: 20; color: #FF1C19;" th:if="${#fields.hasErrors('vin')}"
                      th:errors="*{vin}"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputStateNum">State number</label>
                <input type="text" class="form-control" id="inputStateNum" placeholder="Please, enter state number here"
                       th:field="*{stateNum}">
                <span style="font-size: 20; color: #FF1C19;" th:if="${#fields.hasErrors('stateNum')}"
                      th:errors="*{stateNum}"></span>
            </div>

            <div class="form-group col-md-4">
                <label for="inputSeatsNum">Seats number</label>
                <input type="text" class="form-control" id="inputSeatsNum" placeholder="Please, enter seats number here"
                       th:field="*{seatsNum}">
                <span th:if="${#fields.hasErrors('seatsNum')}" th:errors="*{seatsNum}"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputColor">Color</label>
                <input type="text" class="form-control" id="inputColor" placeholder="Please, enter color here"
                       th:field="*{color}">
            </div>

            <div class="form-group col-md-4">
                <label for="inputPrice">Price per day</label>
                <input type="text" class="form-control" id="inputPrice" placeholder="Please, enter price here"
                       th:field="*{price}">
                <span style="font-size: 20; color: #FF1C19;" th:if="${#fields.hasErrors('price')}"
                      th:errors="*{price}"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="inputAutoTransmission"
                       th:field="*{autoTransmission}">
                <label class="form-check-label" for="inputAutoTransmission">
                    Auto transmission
                </label>
            </div>
        </div>

        <div class="form-group">
            <input type="text" hidden class="form-control-plaintext" th:field="*{photos}">
        </div>

        <div class="form-row">
            <div class="col d-flex justify-content-start">
                <img th:src="@{${car.photosImagePath}}" alt="car photo" width="500" height="300">
            </div>
        </div>
        </br>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputFile">Photos: </label>
                <input type="file" name="image" id="inputFile" accept="image/png, image/jpeg"/>
            </div>
        </div>
        </br>
        <button type="submit" class="btn btn-outline-primary">Update car</button>

    </form>
</div>

<div th:insert="blocks/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>