<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="en">
<head>
    <title th:text="${title}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="album py-5 bg-light">
    <div class="container pt-5 mt-5">
        <div class="row">
            <th:block th:each="car : ${cars}">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
<!--                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"-->
<!--                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"-->
<!--                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>-->
<!--                            <rect width="100%" height="100%" fill="#55595c"></rect>-->
<!--                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>-->
<!--                        </svg>-->
<!--                        <img th:src="@{/images/car.jpg}" class="img-responsive center-block" width="100%" height="300"-->
                        <img th:src="@{${car.photosImagePath}}" class="img-responsive center-block" width="100%" height="225"
                             alt="Logo"/>
                        <div class="card-body">
                            <p class="card-text" th:text="${car.model.brand.name} + ' '
                            + ${car.model.name} + ' ' + ${car.year}"></p>
                            <div class=" d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-primary mr-2" th:href="@{/cars/{id}/details(id=${car.id})}">Details</a>
<!--                                    <a class="btn btn-outline-primary mr-2" th:href="@{/orders/add}">Order</a>-->
                                    <form th:action="@{/orders/send}" th:method="post">
                                        <input type="hidden" name="carId" th:value="${car.id}"/>
                                        <button type="submit" class="btn btn-outline-primary mr-2">Order</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>


<div th:insert="blocks/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>