<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="en">
<head>
    <title th:text="${title}"/>
    <link rel="icon" href="/images/favicon.png" type="image/png" sizes="16x16">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="album py-5 bg-light">
    <div class="container pt-5 mt-5">
        <div class="row justify-content-center align-items-center">
            <form class="form-inline" th:action="@{/cars/all}">
                <div class="form-group">
                    <label th:text="#{label.filter} +':'">Filter:</label>
                </div>

                <div class="form-group ml-2">
                    <label for="typeId" th:text="#{label.model1}">Model:</label>
                    <select id="modelId" name="modelId" class="form-control mr-2 ml-2">
                        <option value="" hidden th:text="#{label.model}">Select model</option>
                        <option th:each="model : ${models}"
                                th:value="${model.id}"
                                th:utext="${model.brand.name} + ' ' + ${model.name}"
                                th:selected="${model.id==modelId}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="typeId" th:text="#{label.type1}">Type:</label>
                    <select id="typeId" name="typeId" class="form-control mr-2 ml-2">
                        <option value="" hidden th:text="#{label.type}">Select type</option>
                        <option th:each="type : ${types}"
                                th:value="${type.id}"
                                th:utext="${type.name}" th:selected="${type.id==typeId}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="engineId" th:text="#{label.engine1}">Engine:</label>
                    <select id="engineId" name="engineId" class="form-control mr-2 ml-2">
                        <option value="" hidden th:text="#{label.engine}">Select engine</option>
                        <option th:each="engine : ${engines}"
                                th:value="${engine.id}"
                                th:utext="${engine.name}" th:selected="${engine.id==engineId}"></option>
                    </select>
                </div>

                <button type="submit" class="btn btn-outline-success mr-2" th:text="#{label.search}">Search</button>
                <input type="button" class="btn btn-outline-secondary mr-2" th:value="#{label.clear}" id="btnClear"
                       onclick="clearSearch()"></input>
                <div class="form group row">

                    <div class="form-group m-3">
                        <label for="rBegin" th:text="#{label.rentBegin}">Rent begin:</label>
                        <input type="datetime-local" class="form-control mr-2 ml-2" name="rBegin" id="rBegin" size="20"
                               th:value="${rBegin}"></input>
                    </div>
                    <div class="form-group m-3">
                        <label for="rEnd" th:text="#{label.rentEnd}">Rent end:</label>
                        <input type="datetime-local" class="form-control mr-2 ml-2" name="rEnd" id="rEnd" size="20"
                               th:value="${rEnd}"></input>
                    </div>
                </div>

                <input type="text" hidden class="form-control" id="currentOffSet" name="currentOffSet">
            </form>
        </div>
        </p>
        <div class="row">
            <th:block th:each="car : ${cars}">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img th:src="@{${car.photosImagePath}}" class="img-responsive center-block" width="100%"
                             height="225"
                             alt="Logo"/>
                        <div class="card-body">
                            <p class="card-text" th:text="${car.model.brand.name} + ' '
                            + ${car.model.name} + ' ' + ${car.year} + ' ' + ${car.engine.name}"></p>
                            <div class=" d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-primary mr-2"
                                       th:href="@{/cars/details/{id}(id=${car.id})}"
                                       th:text="#{label.details}">Details</a>
                                    <form th:action="@{/orders/add}" >
                                        <input type="hidden" id="carId" name="carId" th:value="${car.id}"/>
                                        <input type="hidden" id="rentBeginPar" name="rentBeginPar" th:value="${rBegin}" />
                                        <input type="hidden" id="rentEndPar" name="rentEndPar" th:value="${rEnd}" />
                                        <button type="submit" class="btn btn-outline-primary mr-2"
                                                th:text="#{label.order}">Order
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>


<div th:insert="blocks/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/cars/all}]]";
    }
</script>
<script>
    function getTimeZone() {
        var offset = new Date().getTimezoneOffset(), o = Math.abs(offset);
        document.getElementById("currentOffSet")
            .value = (offset < 0 ? "+" : "-") + ("00" + Math.floor(o / 60)).slice(-2)
            + ":" + ("00" + (o % 60)).slice(-2);
    }

    $(function () {
        getTimeZone();
    });
</script>
</body>
</html>