<div th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-light navbar-light  fixed-top ">
        <!--        <nav class="navbar navbar-expand-sm  navbar-light  fixed-top " style="background-color: #71d0d3">-->
        <a class="navbar-brand" href="/" th:text="#{label.mainName}"></a>
        <!--        <ul class="navbar-nav mr-auto">-->
        <!--           -->
        <!--        </ul>-->

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/?lang=en">EN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/?lang=be">BE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/?lang=ru">RU</a>
            </li>
            <li th:if="${#request.userPrincipal  != null}">
                <a class="nav-link disabled" th:text="#{label.hello} + ' ' +${#authentication.name}"> </a>
            </li>
            <li th:if="${#request.userPrincipal  == null}" class="nav-item">
                <a class="nav-link disabled" th:text="#{label.hello} + ' ' +#{label.guest}"> </a>
            </li>
            <!-- Dropdown -->
            <li sec:authorize="hasAuthority('ADMIN')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  href="#" id="navbardrop"  data-toggle="dropdown" th:text="#{label.adminRoom}">

                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/brands" th:text="#{label.brands}">Brands</a>
                    <a class="dropdown-item" href="/models" th:text="#{label.models}">Models</a>
                    <a class="dropdown-item" href="/engines" th:text="#{label.engines}">Engines</a>
                    <a class="dropdown-item" href="/types" th:text="#{label.types}">Types</a>
                    <a class="dropdown-item" href="/cars" th:text="#{label.cars}">Cars</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/users" th:text="#{label.users}">Users</a>
                    <a class="dropdown-item" href="/admin/orders" th:text="#{label.orders}">Orders</a>
                    <a class="dropdown-item" href="/admin/invoices" th:text="#{label.invoices}">Invoices</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cars/all" th:text="#{label.cars}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact" th:text="#{label.contact}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:text="#{label.about}"></a>
            </li>
            <li th:if="${#request.userPrincipal  == null}" class="nav-item">
                <a class="btn btn-outline-primary mr-2" href="/login" th:text="#{label.login}"></a>
            </li>
            <li th:if="${#request.userPrincipal  == null}" class="nav-item">
                <a class="btn btn-primary mr-2" href="/registration" th:text="#{label.signUp}"></a>
            </li>
            <li th:if="${ #authorization.expression('isAuthenticated()')
and ((#strings.contains(#authentication.principal.authorities,'ADMIN'))
or(#strings.contains(#authentication.principal.authorities,'USER')))}"
                class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardropProfile" data-toggle="dropdown"
                   th:text="#{label.myAccount}">
                    My account
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" th:text="#{label.userInfo}">User info</a>
                    <a class="dropdown-item" href="/user/orders" th:text="#{label.orders}">Orders</a>
                    <a class="dropdown-item" href="/user/invoices" th:text="#{label.invoices}">Invoices</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/logout}" th:text="#{label.logout}">Logout</a>
                </div>
            </li>
        </ul>
    </nav>

</div>