<div th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-light navbar-light  fixed-top ">
        <!--        <nav class="navbar navbar-expand-sm  navbar-light  fixed-top " style="background-color: #71d0d3">-->
        <a class="navbar-brand" href="/">Car rent</a>
        <!--        <ul class="navbar-nav mr-auto">-->
        <!--           -->
        <!--        </ul>-->

        <ul class="navbar-nav ml-auto">
            <li th:if="${#request.userPrincipal  != null}">
                <a class="nav-link disabled">Hello, <span th:text="${#authentication.name}"></span></a>
            </li>
            <li th:if="${#request.userPrincipal  == null}" class="nav-item">
                <a class="nav-link disabled"> Hello, guest!</a>
            </li>
            <!-- Dropdown -->
            <li sec:authorize="hasAuthority('ADMIN')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Admin room
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/brands">Brands</a>
                    <a class="dropdown-item" href="/models">Models</a>
                    <a class="dropdown-item" href="/engines">Engines</a>
                    <a class="dropdown-item" href="/types">Types</a>
                    <a class="dropdown-item" href="/cars">Cars</a>
                    <div class="dropdown-divider"></div>
                    <!--                    <a class="dropdown-item" href="/roles">Roles</a>-->
                    <a class="dropdown-item" href="/users">Users</a>
                    <a class="dropdown-item" href="/admin/orders">Orders</a>
                    <a class="dropdown-item" href="#">Bills</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cars/all">Cars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li th:if="${#request.userPrincipal  == null}" class="nav-item">
                <a class="btn btn-outline-primary mr-2" href="/login">Login</a>
            </li>
            <li th:if="${#request.userPrincipal  == null}" class="nav-item">
                <a class="btn btn-primary mr-2" href="/registration">Sign-up</a>
            </li>
            <li th:if="${ #authorization.expression('isAuthenticated()')
and ((#strings.contains(#authentication.principal.authorities,'ADMIN'))
or(#strings.contains(#authentication.principal.authorities,'USER')))}"
                class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardropProfile" data-toggle="dropdown">
                    My account
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">User info</a>
                    <a class="dropdown-item" href="/user/orders">Orders</a>
                    <a class="dropdown-item" href="#">Bills</a>
                    <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                </div>
            </li>
        </ul>
    </nav>

</div>