<div th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-light navbar-light  fixed-top ">
        <a class="navbar-brand" href="/">Car rent</a>
        <ul class="navbar-nav mr-auto">

            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link" href="#">Link 2</a>-->
            <!--            </li>-->
        </ul>

        <ul class="navbar-nav ml-auto">
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Admin room
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/brands">Brands</a>
                    <a class="dropdown-item" href="/models">Models</a>
                    <a class="dropdown-item" href="/engines">Engines</a>
                    <a class="dropdown-item" href="/types">Types</a>
                    <a class="dropdown-item" href="/cars">Cars</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/roles">Roles</a>
                    <a class="dropdown-item" href="/customers">Customers</a>
                    <a class="dropdown-item" href="#">Orders</a>
                    <a class="dropdown-item" href="#">Bills</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </nav>
    <!--        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">-->
    <!--            <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>-->
    <!--            <nav class="my-2 my-md-0 mr-md-3">-->
    <!--                <a class="p-2 text-dark" href="#">Features</a>-->
    <!--                <a class="p-2 text-dark" href="#">Enterprise</a>-->
    <!--                <a class="p-2 text-dark" href="#">Support</a>-->
    <!--                <a class="p-2 text-dark" href="#">Pricing</a>-->
    <!--            </nav>-->
    <!--            <a class="btn btn-outline-primary" href="#">Sign up</a>-->
    <!--        </div>-->
</div>